body
{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1
{
    text-align: center;
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

input[type="text"]
{
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 8px solid #426e75;
    border-radius: 3px;
    font-size: 16px;
}

input[type="submit"]
{
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 3px;
    border: none;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

input[type="submit"]:hover
{
    background-color: #d4d4d4;
    cursor: pointer;
}

#result
{
    margin-top: 15px;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    color: #333;

}

p
{
    text-align: center;
    color: #555;
    font-size: 14px;
    margin: 10px 0;
}
